.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class

.env
.env.*

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverag
coverage.xml
htmlcov/

build/
dist/
*.egg-info/

celerybeat-schedule
*.log

.DS_Store

